<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>this is the instance where we say hello once again .because what my thoughts keep telling me is to
go back after the lost glories and it all in the past this does not make sense . but i vow to myself that this art of seduction must be fully understood by me
and that is what i intend to do to fully understand what this art really is and see myself through</p>
{% block content %}
{% endblock %}

</body>
</html>